.title {
    font-weight: 700;
}
.title__fz16 {
    font-size: 16px;
    line-height: 24px;
}
h1 {
    font-size: 48px;
}
.title__fz14 {
    font-size: 14px;
    line-height: 21px;
}
.title__fz36 {
    font-size: 36px;
    line-height: 60px;
}
.title__fz20 {
    font-size: 20px;
    line-height: 30px;
}